{% extends '@util/page.twig' %}

{% block favicons %}
    {% include '@content/favicons.twig' %}
{% endblock favicons %}

{% block head %}
    {% block meta %}
    <meta name="description" content="A logging website">
    <meta name="keywords" content="logger, html, coding, github">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}

    {% block links %}
    {% endblock links %}

    {% block type %}
    {% endblock type %}

    {% block css %}
    {% endblock css %}
{% endblock head %}

{% block body %}
    {% block navigation %}
	{% include '@surround/navbar.twig' %}
    {% endblock navigation %}
    
    <div class="row out">
        {% block sidebar %}
                {% include '@surround/sidebar.twig' %}
        {% endblock sidebar %}

        <div class="main">
            {% block pageheader %}
                <header class="row">
                {% block header %}
                    {% include '@surround/header.twig' %}
                {% endblock header %}
                </header>
            {% endblock pageheader %}

            {% block main %}
            {% endblock main %}
        </div>
    </div>

        {% block pagefooter %}
            <footer class="row">
            {% block footer %}
                {% include '@surround/footer.twig' %}
            {% endblock footer %}
            </footer>
        {% endblock pagefooter %}
{% endblock body %}

{% block userscripts %}
    {% block scripts %}
    {% endblock scripts %}
{% endblock userscripts %}